<h1>About</h1>
<p>
  This website was created by Curtis Giddings using the TheMovieDB.org and Twitter APIs with some additional help from Michael Hartl's tutorial found at <a href= "http://ruby.railstutorial.org/">http://ruby.railstutorial.org/ </a>. 
  <br>
  Find me on GitHub: <a href="https://github.com/curtisgiddings/140critic">https://github.com/curtisgiddings/140critic</a>
</p>