<h1>You searched for "<%=params[:search].capitalize%>"</h1>
<ol class= "tweets">
<% tweetsearch(params).results.map do |tweet| %>
	<%= "#{tweet.from_user}: #{tweet.text}" %>
	<br>
	<br>
<%end %>
</ol>