<h1>You searched for "<%=params[:search].capitalize%>"</h1>

<div class="row">
  <aside class = "span4">
  	<section>
  	  <%if @images["posters"].empty?%>
  	    <h2>No movie found with that title!</h2>
  	  <%else%>
  	    <h2> Poster </h2>
  	    <%=image_tag "http://d3gtl9l2a4fn1j.cloudfront.net/t/p/" + 
 	    "w185" 	+ @images["posters"].first["file_path"] %>

	  <h2> Cast </h2>
	  <ol>
 	  <%@cast["cast"].each do |cast|%>
 	  	<%= cast["name"] %>
 	  	<br>
	  <%end%>
 	  </ol>
 	</section>

 	<%end%>
  </aside>


  <div class ="span8">
    <h2> What does Twitter think? </h2>
    <ol class= "tweets">
      <% tweetsearch(params).results.map do |tweet| %>
  	    <%= "#{tweet.from_user}: #{tweet.text}" %>
  	    <br>
  	    <br>
        <%end %>
     </ol>
  </div>
</div>